.navBar {
    grid-area: navBar;
    display: grid;
    grid-template-areas:
        "profile"
        "course"
        "community";
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    background-color: #EBEBEB;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

/* Стили для элементов внутри navBar */
.profile {
    grid-area: course;
    border-radius: 10px;
    background-color: #5C48AB;
    color: aliceblue;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.course {
    grid-area: profile;
    border-radius: 10px;
    background-color: #5C48AB;
    color: aliceblue;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.community {
    grid-area: community;
    border-radius: 10px;
    background-color: #5C48AB;
    color: aliceblue;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}